body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#project-des{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    background-color: skyblue
}