$color-one: #5dbdb9;
$color-two: #0170bb;
$color-three: #5CBC79;
$color-four: #5C7FBC;
$color-tetradic-one:#4C01BC;
$color-tetradic-two:#BC4C01;//color2
$color-tetradic-three:#71BC01;
$color-non-black: #5a6e7e;
$color-important: #f4460f;
$color-black:black;
$color-white:#fff;
$spanish-blue: rgba(1, 112, 187, 1);
$star-command-blue: rgba(16, 125, 187, 1);
$blue-ncs: rgba(32, 138, 186, 0.5);
$blue-green: rgba(47, 151, 186, 1);
$pacific-blue: rgba(62, 163, 186, 1);
$verdigris: rgba(78, 176, 185, 1);
$maximum-blue-green: rgba(93, 189, 185, 1);


$color-grey-light-1:#f7f7f7;

//grid width

$grid-width:180rem;
$gutter-vertical:8rem;
$gutter-horizontal:8rem;

