
.bg{
    background-color:red;
}
@include clearfix;
.bg-area{
    height: 100%;
    position:fixed;
    left:-50%;
    right:-50%;
    top:0;
    bottom:0;
    animation: animate 5s ease-in-out infinite alternate;
    background: linear-gradient(90deg, $color-one 50%, $color-two 50%);
    z-index:-1;

    &__layer-2{
        animation-direction:alternate-reverse;
        animation-duration: 3s;
    }
    &__layer-3{
        animation-duration: 3s;}

}
