
.header {
    position: relative;
    &__photo-container-box {
      display: flex;
      flex-direction: row;
      background: linear-gradient(to right, $color-one, $color-two);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }
    &__photo-container {
      height: 94vh;
      width: 20%;
      background-size: cover;
      opacity: 0.2;
      &--immigration {
        background-image: url("../image/header/immi.jpg");
        background-position: center;
      }
  
      &--lgbtq1 {
        background-image: url("../image/header/lgbt1.jpg");
        background-position: center;
      }
  
      &--refugee1 {
        background-image: url("../image/header/refugee1.jpg");
        background-position: 30% 100%;
      }
  
      &--refugee2 {
        background-image: url("../image/header/refugee2.jpg");
        background-position: center;
      }
  
      &--lgbtq2 {
        background-image: url("../image/header/lgbt2.jpg");
        background-position: center;
      }
    }
    /* college */
  
    &__logo-box {
      position: absolute;
      top: 5rem;
      left: 5rem;
    }
  
    &__logo {
      height: 5rem;
    }
    &__text-box {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
  