.objective-box{
    background-color: rgba($color-white, .5);
    font-size: 1.5rem;
    padding: 2rem 1rem;
    margin: 2rem 1rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: all .3s;

    .heading-quaternary{
        padding:0.5rem 0 1.5rem 0;
    }

    &:hover{
        transform: translateY(-1.5rem) scale(1.05);
    }

    &--1{
        margin:0 -4rem 0 3rem;
    }

    &--2{
        margin:0 1rem 0 -2rem;
    }

    &--3{
        margin:0 2rem 0 -7rem;
    }
    &--4{
        margin:0 4rem 0 -8rem;
    }

}

