
@keyframes leftIn {
    0%{
      opacity: 0;
      transform: translateX(-100px);
    }
  
    80% {
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }


  @keyframes rightIn {
    0%{
      opacity: 0;
      transform: translateX(100px);
    }
  
    80% {
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveUp {
    0%{
      opacity: 0;
      transform: translateY(150px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
@keyframes color_changing {
  0% {opacity: 0.5;
    color:  $spanish-blue;}
  50%{opacity: .7;
    color:$color-tetradic-two;
  };
  100%{opacity: 1;
  color: $maximum-blue-green;}
}


