
@keyframes leftIn {
    0%{
      opacity: 0;
      transform: translateX(-100px);
    }
  
    80% {
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes rightIn {
    0%{
      opacity: 0;
      transform: translateX(100px);
    }
  
    80% {
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes moveUp {
    0%{
      opacity: 0;
      transform: translateY(150px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes bg-change {
    0%{
      background-color:$color-tetradic-one;
    }
    // 20%{
    //   background-color:$star-command-blue;
    // }
    // 30%{
    //   background-color:$blue-ncs;

    // }
    50% {
      background-color:$color-two;
    }

    // 50%{
    //   background-color:$pacific-blue;
    // }
    // 70%{
    //   background-color:$verdigris;
    // }
    100%{
      background-color:#BC4C01;
    }
  }

  @keyframes animate {
    0% {
      transform: translateX(-50%);
    }
    100%{
      transform: translateX(80%)
    }
  }