.section-description {
    background-color: $color-grey-light-1;
    padding: 30rem 0;
    margin-top: -20vh;
}

.section-objectives{
    padding: 20rem 0; 
    background-image: linear-gradient(to left, rgba($color-four, 0.8) ,rgba($color-three,0.8)), url(../image/secondary.jpg);
    background-size: cover;
    background-position: 100% 70%;
    transform: skewY(-10deg);
//direct child elements
    & > * {
        transform: skewY(10deg);
    }
    margin-top: -40rem;
    .paragraph{
        padding: 0 8rem;
        color: $color-white;
    }
} 

.section-sustainability{
    background-color: $color-grey-light-1;
    padding:25rem 0 5rem 0;
    text-align: center;
    margin-top: -10rem;
}