.section-description {
    background-color: $color-grey-light-1;
    padding: 20rem 10rem;
    margin-top: -20vh;
}

.section-objectives{
    padding: 15rem 0rem; 
    background-image: linear-gradient(to left, rgba($color-four, 0.5) ,rgba($color-three,0.5)), url(../image/secondary.jpg);
    background-size: cover;
    background-position: 100% 60%;
    transform: skewY(-10deg);
//direct child elements
    & > * {
        transform: skewY(10deg);
    }
    margin-top: -30rem;
    .paragraph{
        padding: 0 8rem;
        color: $color-white;
    }
} 

.section-sustainability{
    background-color: $color-grey-light-1;
    padding:25rem 0 5rem 0;
    text-align: center;
    margin-top: -10rem;
}

.section-project-timeline{
    padding:15rem 0 10rem 0;
    text-align: center;
    animation: bg-change 5s ease infinite alternate;
    
}